/*
Resetear el navegador y estilos generales
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #242424;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
}

h2, h3 {
  color: #aaaaaa;
}


/* Estilos de menu de navegación global del site */

.header {
  width: 100%;
  height: 70px;
  background: #000;
  color: #FFF;
  padding: 15px 150px 0 150px;
}

.header img {
  width: 10%;
  height: auto;
  display: inline-block;
}

.menu-movil {
  display: none;
}

.menu {
  padding-top: 15px;
  display: inline-block;
  float: right;
  cursor: pointer;
}

.menu p:first-child {
  font-weight: bold;
}

.menu p {
  float: left;
  font-size: 0.9em;
  font-weight: lighter;
  margin-left: 30px;
}

/* Estilos sección 1 */
.box-img {
  width: 100%;
  height: 400px;
  background-image: url(../img/giger-header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

/* Estilos sección 2 */
.box-text {
  padding-top: 20px;
  padding-right: 40px;
}

/* Estilos sección 3 */

.imgs{
  margin-top: 50px;
}

.img1, .img2, .img3 {
  width: 300px;
  margin-right: 70px;
  float: left;
}

.imgs img{
  width: 350px;
  height: auto;
}
.btn {
  width: 100px;
  height: 30px;
  margin-top: 20px;
  padding-top: 5px;
  color: #FFF;
  background: #8a00eb;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background: #5a005e;
}

/* Estilos Pié de página */
.footer {
  width: 100%;
  height: 80px;
  margin-top: 50px;
  padding-top: 30px;
  background: #000;
  text-align: center;
}

h4 {
  font-weight: lighter;
}

/*Agregando estilo responsive*/
/*Su mejor visualización es en el dispositivo Galaxy S5*/
@media (min-device-width: 320px) and (max-device-height: 736px) {
  /*Clases generales*/
  .col {
    width: 100%;
  }
  h2 {
    font-size: 2.3em;
  }
  p {
    font-size: 1.2em;
  }
  /* Estilos de menu de navegación global del site */
  .header {
    width: 109%;
    height: 80px;
    background: #000;
    color: #FFF;
    padding: 20px 30px 0 30px;
  }
  .header img {
    width: 30%;
    height: auto;
    display: inline-block;
  }
  .menu-movil {
    float: right;
    display: inline-block;
    margin-top: 8px;
  }
  .menu {
    display: none;
  }

  /* Estilos sección 1 */
  .box-img {
    width: 109%;
    height: 400px;
    background-size:cover;
    background-position: right;
  }

  /* Estilos sección 2 */
  .box-text {
    width: 350px;
    padding-top: 50px;
    margin-left: 33px;
  }

  .row {
    display: block;
  }

  /* Estilos sección 3 */
  h3{
    font-size: 1.7em;
  }

  .imgs{
    margin-top: 50px;
    margin-left: 33px;
  }

  .img1, .img2, .img3 {
    width: 300px;
    margin-right: 70px;
    margin-top: 50px;
    float: left;
  }

  .imgs img{
    width: 330px;
    height: auto;
  }

  .btn {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    margin-bottom: 80px;
    padding-top: 10px;
  }

  /* Estilos Pié de página */
  .footer {
    width: 109%;
    height: 150px;
    padding-top: 60px;
    clear: left;
  }
  h4 {
    font-size: 1.3em;
    font-weight: lighter;
  }
}

/* Estilos para Moto G4 */
@media (min-device-width: 424px) and (max-device-height: 753px) {
  /*Clases generales*/
  .col {
    width: 100%;
  }
  h2 {
    font-size: 2.3em;
  }
  p {
    font-size: 1.2em;
  }
  /* Estilos de menu de navegación global del site */
  .header {
    width: 100%;
    height: 80px;
    background: #000;
    color: #FFF;
    padding: 20px 30px 0 30px;
  }
  .header img {
    width: 30%;
    height: auto;
    display: inline-block;
  }
  .menu-movil {
    float: right;
    display: inline-block;
    margin-top: 8px;
  }
  .menu {
    display: none;
  }

  /* Estilos sección 1 */
  .box-img {
    width: 100%;
    height: 400px;
    background-size:cover;
    background-position: right;
  }

  /* Estilos sección 2 */
  .box-text {
    width: 350px;
    padding-top: 50px;
    margin-left: 33px;
  }

  .row {
    display: block;
  }

  /* Estilos sección 3 */
  h3{
    font-size: 1.7em;
  }

  .imgs{
    margin-top: 50px;
    margin-left: 33px;
  }

  .img1, .img2, .img3 {
    width: 350px;
    margin-right: 70px;
    margin-top: 50px;
    float: left;
  }

  .imgs img{
    width: 350px;
    height: auto;
  }

  .btn {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    margin-bottom: 80px;
    padding-top: 10px;
  }

  /* Estilos Pié de página */
  .footer {
    width: 100%;
    height: 150px;
    padding-top: 60px;
    clear: left;
  }
  h4 {
    font-size: 1.3em;
    font-weight: lighter;
  }
}
}
